section.hero{
    background-image: url('/pexels-anastasia-shuraeva-8070661.jpg');
    background-size: cover;
    width: 100vw;
    max-width: none;
    min-height: 100vh;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 20px;
    box-sizing: border-box;
}

.hero>*{
    position: relative;
    z-index: 2;
    color: white;
}

.hero>h1{
    font-size: 3rem;
    text-align: center;
    font-family: monospace;
}

.hero>p{
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.hero>a{
    background-color: var(--primary);
    padding: 15px 30px;
    font-weight: bold;
}

.hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--secondary);
    opacity: 0.7;
}

